{% extends "layout.html" %}

{% import 'macros.html' as macros %}

{% block content %}
    <!-- Controls row -->
    <div class="row">
        <div class="col-md-2 pb-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sort-button">Sort by{% if request.args.sort %} {{ request.args.sort | lower }}{% endif %}</button>
                <div class="dropdown-menu" aria-labelledby="sort-button">
                    <a class="dropdown-item" href="{{ query(sort='urgency', ord='desc') }}">Urgency</a>
                    <a class="dropdown-item" href="{{ query(sort='priority', ord='desc') }}">Priority</a>
                    <a class="dropdown-item" href="{{ query(sort='project', ord='desc') }}">Project</a>
                    <a class="dropdown-item" href="{{ query(sort='status', ord='desc') }}">Status</a>
                    <a class="dropdown-item" href="{{ query(sort='entry', ord='desc') }}">Entry Date</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ query(sort=None, ord=None) }}"><i class="fas fa-eraser" aria-hidden="true"></i> Clear</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ query(ord='desc') }}"><i class="fas fa-sort-amount-down" aria-hidden="true"></i> Highest first</a>
                    <a class="dropdown-item" href="{{ query(ord='asc') }}"><i class="fas fa-sort-amount-up" aria-hidden="true"></i> Lowest first</a>
                </div>
            </div>
        </div>
        <div class="col-md-10 pb-4">
            <form action="{{url_for('task.tasks')}}" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" name="filter" placeholder="Custom filter" aria-label="Custom filter"{%with f=query_values('filter')%}{%if f%}value="{{f[0]|e}}"{%endif%}{%endwith%} />
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" aria-label="Use custom filter">
                            <i class="fas fa-filter" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{ macros.task_heading('cards', tasks) }}

    <!-- Tasks -->
    {% for task_row in tasks | batch(3) %}
    <div class="row">
        {% for task in task_row  %}
        <div class="col-md-4 pb-4 task-{{task.id}}">
            <div class="card h-100 {% if task.priority == 'H' and task.status == 'pending' %} border-danger{% endif %}">
                <div class="card-body text-center">
                    <p class="card-text{% if task.status != 'pending' %} text-secondary{% elif task.priority == 'H' %} text-danger{% endif %}">{{ task.description|urlize }}</p>
                </div>

                <div class="card-footer">
                    <ul class="list-unstyled card-text small text-right">
                        <li class="text-muted">
                            <ul class="list-inline">
                                {% if task.annotations %}<li class="list-inline-item"><i class="fas fa-comments" title="Annotations exist" aria-hidden="true"></i><span class="sr-only">Annotations exist</span></li>{% endif %}
                                {% if task.project %}<li class="list-inline-item"><i class="fas fa-folder" aria-hidden="true"></i><span class="sr-only">Project</span> <a class="text-info" href="{{ query(project=task.project) }}">{{ task.project }}</a></li>{% endif %}
                                {% if task.tags %}<li class="list-inline-item"><i class="fas fa-tags" aria-hidden="true"></i><span class="sr-only">Tags</span>{% for tag in task.tags %} <a class="text-info" href="{{query(tags=tag)}}">{{tag}}</a>{% endfor %}</li>{% endif %}
                                <li class="list-inline-item dropdown">
                                    <button class="btn btn-outline-secondary btn-no-border btn-sm dropdown-toggle caret-off" type="button" data-boundary="viewport" data-toggle="dropdown" title="Task actions" aria-label="Task actions" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>

                                    {{ macros.task_actions(task) }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {{ macros.annotate_modal() }}
{% endblock content %}
