<!-- Annotate modal + toggle button -->
{% macro annotate_modal(task=None) %}
<div id="annotate-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New annotation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>

            <div class="modal-body">
                <form id="annotate-form" action="{{ url_for('task.annotate') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="uuid" value="{%if task %}{{task.uuid}}{% endif %}" />
                    <input type="hidden" name="next" value="{{request.url}}" />
                    <input type="text" name="param" placeholder="Annotation" class="form-control">
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="annotate-form">Annotate</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro btn_annotate(task, class="btn-primary", text="Annotate") %}
<button type="button" class="btn {{ class }}" data-toggle="modal" data-target="#annotate-modal" data-uuid="{{ task.uuid }}">{{ text }}</button>
{% endmacro %}

<!-- Mark as done hidden form + a separate submit button -->
{% macro form_done(task) %}
{% if task.status not in ['deleted', 'completed'] %}
<form id="mark-done" action="{{ url_for('task.complete') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="uuid" value="{{task.uuid}}" />
    <input type="hidden" name="next" value="{{request.url}}" />
</form>
{% endif %}
{% endmacro %}

{% macro btn_done(task) %}
<button type="submit" class="btn btn-success"{% if task.status not in ['deleted', 'completed'] %} form="mark-done"{% else %} disabled{% endif %}>Finish</button>
{% endmacro %}

<!-- Delete task hidden form + a separate submit button -->
{% macro form_delete(task) %}
{% if task.status in ['pending'] %}
<form id="mark-deleted" action="{{ url_for('task.delete') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="uuid" value="{{task.uuid}}" />
    <input type="hidden" name="next" value="{{request.url}}" />
</form>
{% endif %}
{% endmacro %}

{% macro btn_delete(task) %}
<button type="submit" class="btn btn-warning" {% if task.status in ['pending'] %} form="mark-deleted"{% else %} disabled{% endif %}>Delete</button>
{% endmacro %}

<!-- Task display inside a table -->

{% macro trow(label, field, link=False) %}
<tr>
    <td>{{ label }}</td>
    {% if field or field == 0 %}
        {% if link %}
        <td><a href="{{ link }}">{{ field }}</a</td>
        {% else %}
        <td>{{ field }}</td>
        {% endif %}
    {% else %}
        <td>-</td>
    {% endif %}
</tr>
{% endmacro %}


<!-- Task list heading -->
{% macro task_heading(current, tasks) %}
<div class="row">
    <div class="container-fluid d-flex">
        <div>
            <h4>{{ tasks|length }} tasks</h4>
        </div>
        <div class="ml-auto">
        <nav class="nav">
        {% for name, href, icon in [('cards', query(view='cards'), 'fa-th'),
                                    ('table', query(view='table'), 'fa-th-list')] %}
                {% set label = name|capitalize + ' view' %}
                {% set hl = current == name %}
                {% if hl %}
                <a href="#" class="nav-link active" title="{{ label }}" aria-label="{{ label }}" aria-pressed="true">
                {% else %}
                <a href="{{ href }}" class="nav-link text-secondary" title="{{ label }}" aria-label="{{ label }}">
                {% endif %}
                    <i class="fas {{ icon }}"></i>
                </a>
        {% endfor %}
        </nav>
        </div>
    </div>
</div>
{% endmacro %}


<!-- Dropdown menu for task actions -->
{% macro task_actions(task) %}
<div class="dropdown-menu">
    {% if task.status not in ['deleted', 'completed'] %}
    <form action="{{ url_for('task.complete') }}" method="post" id="complete-{{ task.id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="uuid" value="{{task.uuid}}">
        <input type="hidden" name="next" value="{{request.url}}">
    </form>
    <form action="{{ url_for('task.delete') }}" method="post" id="delete-{{ task.id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="uuid" value="{{task.uuid}}">
        <input type="hidden" name="next" value="{{request.url}}">
    </form>

    <button type="submit" class="btn btn-sm btn-link dropdown-item" role="link" title="Complete task" aria-label="Complete task" form="complete-{{ task.id }}">
        <i class="fas fa-check" aria-hidden="true"></i> Complete
    </button>

    <button type="submit" class="btn btn-sm btn-link dropdown-item" role="link" title="Delete task" aria-label="Delete task" form="delete-{{ task.id }}">
        <i class="fas fa-trash" aria-hidden="true"></i> Delete
    </button>

    <div class="dropdown-divider"></div>
    {% endif %}

    <a href="{{ url_for('task.edit', uuid=task.uuid) }}" class="btn btn-sm dropdown-item" title="Edit task" aria-label="Edit task">
        <i class="fas fa-edit" aria-hidden="true"></i> Edit
    </a>

    <button type="button" class="btn btn-sm btn-link dropdown-item" data-uuid="{{ task.uuid }}" data-toggle="modal" data-target="#annotate-modal" title="Annotate task" aria-label="Annotate task">
        <i class="fas fa-comment" aria-hidden="true"></i> Annotate
    </button>

    <div class="dropdown-divider"></div>

    <a href="{{ url_for('task.task', uuid=task.uuid) }}" class="btn btn-sm dropdown-item" data-target="#details-{{task.uuid}}" title="Task details" aria-label="Task details">
        <i class="fas fa-info-circle" aria-hidden="true"></i> Details
    </a>
</div>
{% endmacro %}
