{% extends "layout.html" %}

{% import 'macros.html' as macros %}

{% block heading %}
{% endblock heading %}

{% block content %}
    <!-- Controls row -->
    <div class="row">
        <div class="col-md-2 pb-4">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sort-button">Sort by{% if request.args.sort %} {{ request.args.sort | lower }}{% endif %}</button>
                <div class="dropdown-menu" aria-labelledby="sort-button">
                    <a class="dropdown-item" href="{{ query(sort='urgency', ord='desc') }}">Urgency</a>
                    <a class="dropdown-item" href="{{ query(sort='priority', ord='desc') }}">Priority</a>
                    <a class="dropdown-item" href="{{ query(sort='project', ord='desc') }}">Project</a>
                    <a class="dropdown-item" href="{{ query(sort='status', ord='desc') }}">Status</a>
                    <a class="dropdown-item" href="{{ query(sort='entry', ord='desc') }}">Entry Date</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ query(sort=None, ord=None) }}"><i class="fas fa-eraser" aria-hidden="true"></i> Clear</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ query(ord='desc') }}"><i class="fas fa-sort-amount-down" aria-hidden="true"></i> Highest first</a>
                    <a class="dropdown-item" href="{{ query(ord='asc') }}"><i class="fas fa-sort-amount-up" aria-hidden="true"></i> Lowest first</a>
                </div>
            </div>
        </div>
        <div class="col-md-10 pb-4">
            <form action="{{url_for('task.tasks')}}" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" name="filter" placeholder="Custom filter" aria-label="Custom filter"{%with f=query_values('filter')%}{%if f%}value="{{f[0]|e}}"{%endif%}{%endwith%} />
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" aria-label="Use custom filter">
                            <i class="fas fa-filter" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{ macros.task_heading('table', tasks) }}

    <!-- Tasks -->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Description</td>
                        <th>Project</td>
                        <th>Tags</td>
                        <th>Due</td>
                        <th>Priority</td>

                        <!-- control buttons -->
                        <td aria-hidden="true"></td>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks  %}
                    <tr{% if task.status != 'pending' %} class="text-secondary"{% elif task.priority == 'H' %} class="table-danger"{% endif %}>
                        <td>
                            {{ task.description|urlize }}
                            {% if task.annotations %}
                            <ul class="list-unstyled ml-4">
                                {% for ann in task.annotations %}
                                <li><small><span class="text-muted">{{ ann.entry.strftime('%Y-%m-%d') }}:</span> {{ ann|urlize }}</small></li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </td>
                        <td>{% if task.project %}<a class="text-info" href="{{ query(project=task.project) }}">{{ task.project }}</a>{% endif %}</td>
                        <td>{% for tag in task.tags %} <a class="text-info" href="{{ query(tags=tag) }}">{{ tag }}</a>{% endfor %}</td>
                        <td>{% if task.due %}{{ task.due.strftime('%Y-%m-%d') }}{% endif %}</td>
                        <td>{% if task.priority %}<a href="{{ query(priority=task.priority) }}">{{ task.priority }}</a>{% endif %}</td>

                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-no-border btn-sm dropdown-toggle caret-off" type="button" data-boundary="viewport" data-toggle="dropdown" title="Task actions" aria-label="Task actions" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                                </button>

                                {{ macros.task_actions(task) }}
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>

            {{ macros.annotate_modal() }}
        </div>
    </div>
{% endblock content %}
